<!-------BANNER ACROSS TOP OF PAGE---------->
{| style="width:100%; background:#fcfcfc; border:1px solid #ccc; border-spacing:10px;"
| style="width:55%; color:#000;" |
<!---------"WELCOME TO ECOLIWIKI" ----------->
{| style="width:280px; border:none; background:none;"
| style="width:280px; text-align:left; white-space:nowrap; color:#000;" |
<div style="font-size:172%; border:none; margin:0; padding:.1em; color:#000;">Welcome to [[EcoliWiki:About|EcoliWiki]],</div>
<div style="top:+0.2em; font-size:95%;"><span class=plainlinks>
[http://porteco.org PortEco's] (formerly EcoliHub) subsystem for community annotation. <br />
Our goal for EcoliWiki is to generate community-based pages about <br />
everything related to non-pathogenic ''[[Escherichia_coli|E. coli]]'', its phages, plasmids, and <br />
mobile genetic elements. Yes, we mean everything...[[EcoliWiki:Wish List|in the long run]].
</span></div>
|}
<!----------PORTAL LIST ON RIGHT-HAND SIDE-------->
| style="width:13%; font-size:95%;align='top'" |
* [[:Category:Strains|Strains]]
* [[:Category:Gene_Lists|Gene Lists]]
* [[Genome Browsers]]
* [[Phenotype Tools]]
* [https://ecoliwiki.org/tools/proteome/index.php Proteome]
| style="width:16%; font-size:95%;align='top'" |
* [[:Category:Plasmids|Plasmids]]
* [[:Category:Databases|Databases]]
* [[:Category:Bioinformatics Tools|Bioinformatics Tools]]
* [[:Category:Methods|Methods]]
* [[:Category:Education|Teaching & Education]]
| style="width:16%; font-size:95%;align='top'" |
* <span class="plainlinks">[http://community.porteco.org/forum/tracker.php?p=3 Wish list]</span>
* [[EcoliWiki:Membership|Membership]]
* [[:Category:Help|Help]]
|}
<!--------Bottom Table (for structure)---------->
{| style=" width:100%; border-spacing:10px;"
|-
|width="60%" style ="background:#fcfcfc; border:1px solid #ccc; padding:10px;" align="left" valign="top"|
===Get Started===
Find information within EcoliWiki by using the ''Search'' box to the left. Just enter your favorite ''E. coli'' gene or gene product. You can also browse our categories if you want to see what's here. Some sample queries are listed below, and you can always read more about searching on our [[Help:Find_Info|Help pages]].
{| style="background:#fcfcfc;"
|-| valign='top'|
| width="40%"|
====Search====
* [[lacZ]]
* [[cynR]]
* [[dnaX]]
* [http://ecoliwiki.net{{SCRIPTPATH}}/index.php/Special:Search?search=RNA+polymerase RNA polymerase]
* [[16S rRNA]]
* [[PMID:17182742]]
* [[DH5_alpha]]
| width="50%"|
====Browse====
* General information about [[Escherichia_coli|''E. coli'']]
* [[:Category:Gene_List:MG1655|Genes in ''E. coli'' MG1655]]
* [[:Category:Gene List:REL606|Genes in ''E. coli'' B strain REL606]]
* [[:Category:Gene_List:Phage_lambda|Genes in Bacteriophage lambda]]
* [[:Category:Gene_List:Phage_M13|Genes in Bacteriophage M13]]
* [[:Category:Gene_List:Phage_T7|Genes in Bacteriophage T7]]
* [[:Category:Genes_with_homologs_in_Homo_sapiens|''E. coli'' genes with human orthologs]]
* [[:Category:Genes_not_mapped_to_a_genome sequence|Genes not mapped to a genome sequence]]
* [[Phantom genes]]
* [http://ecoliwiki.org/tools/chemgen/index.php Data browser] for Nichols et al. Phenotypic landscape of ''E. coli''
* [http://ecoliwiki.net/tools/simnetwork/ Data browser] for Al-Amun et al. Identity and Function of a Large Gene Network Underlying Mutagenic Repair of DNA Breaks
<br />
|}


===How to Contribute===
EcoliWiki is for [[EcoliWiki:Who is EcoliWiki for?|everyone]].  There are lots of ways you can help us make EcoliWiki better:
* [[:Category:NeedsEditing|Add your knowledge to existing pages]]
* [[Page_Generator|Add new pages about topics you're interested in]]
* [[:Category:Pages with problems or questions|Fix our errors]]
* [[EcoliWiki:Wishlist|Tell us what you want to see on EcoliWiki]]

EcoliWiki participates in [http://www.geneontology.org/GO.refgenome.shtml the RefGenome project]. To see a list of the ''E. coli'' targets [http://ecoliwiki.net/colipedia/index.php/Category:RefGenome_Annotated_Gene click here].

EcoliWiki members can use EcoliWiki in ways that are not available to unregistered users.  Read more about user accounts at [[EcoliWiki:Membership|EcoliWiki membership]]. Or just email the EcoliWiki Team at {{Email}} if you have more questions!


|width="40%" style ="background:#fcfcfc; border:1px solid #ccc; padding:10px;" align="left" valign="top"|
===What's New===
<rss>http://community.porteco.org/wordpress/?feed=rss2|max=3</rss>

|}


__NOTOC__
__NOEDITSECTION__
